#  ANOVA

In statistics, **Analysis of Variance (ANOVA)** is also used to analyze the differences among group means. The difference between t-test and ANOVA is the former is ued to compare two groups whereas the latter is used to compare three or more groups. [Read more about the difference between t-test and ANOVA](http://b.link/anova24).

From the ANOVA test, you receive two numbers. The first number is called the **F-value** which indicates whether your null-hypothesis can be rejected. The critical F-value that rejects the null-hypothesis varies according to the number of total subjects and the number of subject groups in your experiment. In [this table](http://b.link/eda14) you can find the critical values of the F distribution. **If you are confused by the massive F-distribution table, don't worry. Skip F-value for now and study it at a later time. In this challenge you only need to look at the p-value.**

The p-value is another number yielded by ANOVA which already takes the number of total subjects and the number of experiment groups into consideration. **Typically if your p-value is less than 0.05, you can declare the null-hypothesis is rejected.**

In this challenge, we want to understand whether there are significant differences among various types of pokemons' `Total` value, i.e. Grass vs Poison vs Fire vs Dragon... There are many types of pokemons which makes it a perfect use case for ANOVA.

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import scipy.stats as st

In [3]:
# Load the data:
pokemon = pd.read_csv("Pokemon_clean.csv")
pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [4]:
pokemon.Name.value_counts(dropna = False).index

Index(['Bulbasaur', 'Uxie', 'Mega Gallade', 'Probopass', 'Dusknoir',
       'Froslass', 'Rotom', 'RotomHeat Rotom', 'RotomWash Rotom',
       'RotomFrost Rotom',
       ...
       'Suicune', 'Larvitar', 'Pupitar', 'Tyranitar', 'Mega Tyranitar',
       'Lugia', 'Ho-oh', 'Celebi', 'Treecko', 'Volcanion'],
      dtype='object', length=800)

In [5]:
pokemon[pokemon["Name"] == "Rotom"]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
531,Rotom,Electric,Ghost,440,50,50,77,95,77,91,4,False

In [6]:
pokemon[pokemon["Name"] == "RotomHeat Rotom"]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
532,RotomHeat Rotom,Electric,Fire,520,50,65,107,105,107,86,4,False

In [7]:
pokemon[pokemon['Name'].str.len()>16]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
422,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True
424,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
428,DeoxysNormal Forme,Psychic,NaN,600,50,150,50,150,50,150,3,True
429,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True
430,DeoxysDefense Forme,Psychic,NaN,600,50,70,160,70,160,90,3,True
431,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True
458,WormadamPlant Cloak,Bug,Grass,424,60,59,85,79,105,36,4,False
459,WormadamSandy Cloak,Bug,Ground,424,60,79,105,59,85,36,4,False
460,WormadamTrash Cloak,Bug,Steel,424,60,69,95,69,95,36,4,False
544,GiratinaAltered Forme,Ghost,Dragon,680,150,100,120,100,120,90,4,True
545,GiratinaOrigin Forme,Ghost,Dragon,680,150,120,100,120,100,90,4,True
550,ShayminLand Forme,Grass,NaN,600,100,100,100,100,100,100,4,True
615,DarmanitanStandard Mode,Fire,NaN,480,105,140,55,30,55,95,5,False
616,DarmanitanZen Mode,Fire,Psychic,540,105,30,105,140,105,55,5,False
702,TornadusIncarnate Forme,Flying,NaN,580,79,115,70,125,80,111,5,True
703,TornadusTherian Forme,Flying,NaN,580,79,100,80,110,90,121,5,True
704,ThundurusIncarnate Forme,Electric,Flying,580,79,115,70,125,80,111,5,True
705,ThundurusTherian Forme,Electric,Flying,580,79,105,70,145,80,101,5,True
708,LandorusIncarnate Forme,Ground,Flying,600,89,125,90,115,80,101,5,True
709,LandorusTherian Forme,Ground,Flying,600,89,145,90,105,80,91,5,True
711,KyuremBlack Kyurem,Dragon,Ice,700,125,170,100,120,90,95,5,True
712,KyuremWhite Kyurem,Dragon,Ice,700,125,120,90,170,100,95,5,True
713,KeldeoOrdinary Forme,Water,Fighting,580,91,72,90,129,90,108,5,False
714,KeldeoResolute Forme,Water,Fighting,580,91,72,90,129,90,108,5,False
715,MeloettaAria Forme,Normal,Psychic,600,100,77,77,128,128,90,5,False
716,MeloettaPirouette Forme,Normal,Fighting,600,100,128,90,77,77,128,5,False
750,AegislashBlade Forme,Steel,Ghost,520,60,150,50,150,50,60,6,False
751,AegislashShield Forme,Steel,Ghost,520,60,50,150,50,150,60,6,False
780,PumpkabooAverage Size,Ghost,Grass,335,49,66,70,44,55,51,6,False
781,PumpkabooSmall Size,Ghost,Grass,335,44,66,70,44,55,56,6,False
782,PumpkabooLarge Size,Ghost,Grass,335,54,66,70,44,55,46,6,False
783,PumpkabooSuper Size,Ghost,Grass,335,59,66,70,44,55,41,6,False
784,GourgeistAverage Size,Ghost,Grass,494,65,90,122,58,75,84,6,False
785,GourgeistSmall Size,Ghost,Grass,494,55,85,122,58,75,99,6,False
786,GourgeistLarge Size,Ghost,Grass,494,75,95,122,58,75,69,6,False
787,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True

In [8]:
pokemon[pokemon['Name'].str.len()>16].shape

(38, 12)

In [9]:
pokemon["Name"].str.len().max()

24

**To achieve our goal, we use three steps:**

1. **Extract the unique values of the pokemon types.**

1. **Select dataframes for each unique pokemon type.**

1. **Conduct ANOVA analysis across the pokemon types.**

#### First let's obtain the unique values of the pokemon types. These values should be extracted from Type 1 and Type 2 aggregated. Assign the unique values to a variable called `unique_types`.

*Hint: the correct number of unique types is 19 including `NaN`. You can disregard `NaN` in next step.*

In [10]:
# Your code here

unique_types = pd.unique(pokemon[['Type 1', 'Type 2']].values.ravel())
print(unique_types)
len(unique_types)

['Grass' 'Poison' 'Fire' nan 'Flying' 'Dragon' 'Water' 'Bug' 'Normal'
 'Electric' 'Ground' 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Steel' 'Ice'
 'Ghost' 'Dark']

19

#### Second we will create a list named `pokemon_totals` to contain the `Total` values of each unique type of pokemons.

Why we use a list instead of a dictionary to store the pokemon `Total`? It's because ANOVA only tells us whether there is a significant difference of the group means but does not tell which group(s) are significantly different. Therefore, we don't need know which `Total` belongs to which pokemon type.

*Hints:*

* Loop through `unique_types` and append the selected type's `Total` to `pokemon_groups`. Be sure to loop through BOTH `Type 1` and `Type 2` to cover all occurrances of each unique type.
* Skip the `NaN` value in `unique_types`. `NaN` is a `float` variable which you can find out by using `type()`. The valid pokemon type values are all of the `str` type.
* At the end, the length of your `pokemon_totals` should be 18.

In [11]:
# Your code here

pokemon_totals = []

for type_val in unique_types:
    
    # Avoiding NaNs
    if type(type_val) == str:  
        total = pokemon[pokemon['Type 1'] == type_val]['Total'].append(pokemon[pokemon['Type 2'] == type_val]['Total'])
        pokemon_totals.append(total)
        

print(pokemon_totals)

/var/folders/yl/blp7v0ys1lzdfkls51wcv3l40000gn/T/ipykernel_15572/1929186474.py:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = pokemon[pokemon['Type 1'] == type_val]['Total'].append(pokemon[pokemon['Type 2'] == type_val]['Total'])
/var/folders/yl/blp7v0ys1lzdfkls51wcv3l40000gn/T/ipykernel_15572/1929186474.py:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = pokemon[pokemon['Type 1'] == type_val]['Total'].append(pokemon[pokemon['Type 2'] == type_val]['Total'])
/var/folders/yl/blp7v0ys1lzdfkls51wcv3l40000gn/T/ipykernel_15572/1929186474.py:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = pokemon[pokemon['Type 1'] == type_val]['Total'].append(pokemon[pokemon['Type 2'] == type_val]['Total'])
/var/folders/yl/blp7v0ys1lzdfkls51wcv3l40000gn/T/ipykernel_15572/1929186474.py:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = pokemon[pokemon['Type 1'] == type_val]['Total'].append(pokemon[pokemon['Type 2'] == type_val]['Total'])
/var/folders/yl/blp7v0ys1lzdfkls51wcv3l40000gn/T/ipykernel_15572/1929186474.py:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = pokemon[pokemon['Type 1'] == type_val]['Total'].append(pokemon[pokemon['Type 2'] == type_val]['Total'])
/var/folders/yl/blp7v0ys1lzdfkls51wcv3l40000gn/T/ipykernel_15572/1929186474.py:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = pokemon[pokemon['Type 1'] == type_val]['Total'].append(pokemon[pokemon['Type 2'] == type_val]['Total'])
/var/folders/yl/blp7v0ys1lzdfkls51wcv3l40000gn/T/ipykernel_15572/1929186474.py:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = pokemon[pokemon['Type 1'] == type_val]['Total'].append(pokemon[pokemon['Type 2'] == type_val]['Total'])
/var/folders/yl/blp7v0ys1lzdfkls51wcv3l40000gn/T/ipykernel_15572/1929186474.py:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = pokemon[pokemon['Type 1'] == type_val]['Total'].append(pokemon[pokemon['Type 2'] == type_val]['Total'])
/var/folders/yl/blp7v0ys1lzdfkls51wcv3l40000gn/T/ipykernel_15572/1929186474.py:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = pokemon[pokemon['Type 1'] == type_val]['Total'].append(pokemon[pokemon['Type 2'] == type_val]['Total'])
/var/folders/yl/blp7v0ys1lzdfkls51wcv3l40000gn/T/ipykernel_15572/1929186474.py:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = pokemon[pokemon['Type 1'] == type_val]['Total'].append(pokemon[pokemon['Type 2'] == type_val]['Total'])
/var/folders/yl/blp7v0ys1lzdfkls51wcv3l40000gn/T/ipykernel_15572/1929186474.py:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = pokemon[pokemon['Type 1'] == type_val]['Total'].append(pokemon[pokemon['Type 2'] == type_val]['Total'])
/var/folders/yl/blp7v0ys1lzdfkls51wcv3l40000gn/T/ipykernel_15572/1929186474.py:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = pokemon[pokemon['Type 1'] == type_val]['Total'].append(pokemon[pokemon['Type 2'] == type_val]['Total'])
/var/folders/yl/blp7v0ys1lzdfkls51wcv3l40000gn/T/ipykernel_15572/1929186474.py:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = pokemon[pokemon['Type 1'] == type_val]['Total'].append(pokemon[pokemon['Type 2'] == type_val]['Total'])
/var/folders/yl/blp7v0ys1lzdfkls51wcv3l40000gn/T/ipykernel_15572/1929186474.py:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = pokemon[pokemon['Type 1'] == type_val]['Total'].append(pokemon[pokemon['Type 2'] == type_val]['Total'])
/var/folders/yl/blp7v0ys1lzdfkls51wcv3l40000gn/T/ipykernel_15572/1929186474.py:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = pokemon[pokemon['Type 1'] == type_val]['Total'].append(pokemon[pokemon['Type 2'] == type_val]['Total'])
/var/folders/yl/blp7v0ys1lzdfkls51wcv3l40000gn/T/ipykernel_15572/1929186474.py:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = pokemon[pokemon['Type 1'] == type_val]['Total'].append(pokemon[pokemon['Type 2'] == type_val]['Total'])
/var/folders/yl/blp7v0ys1lzdfkls51wcv3l40000gn/T/ipykernel_15572/1929186474.py:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = pokemon[pokemon['Type 1'] == type_val]['Total'].append(pokemon[pokemon['Type 2'] == type_val]['Total'])
/var/folders/yl/blp7v0ys1lzdfkls51wcv3l40000gn/T/ipykernel_15572/1929186474.py:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = pokemon[pokemon['Type 1'] == type_val]['Total'].append(pokemon[pokemon['Type 2'] == type_val]['Total'])

[0      318
1      405
2      525
3      625
48     320
      ...
783    335
784    494
785    494
786    494
787    494
Name: Total, Length: 95, dtype: int64, 28     288
29     438
34     275
35     365
36     505
      ...
603    260
604    360
605    485
651    294
652    464
Name: Total, Length: 62, dtype: int64, 4      309
5      405
6      534
7      634
8      634
      ...
669    370
670    520
697    360
698    550
706    680
Name: Total, Length: 64, dtype: int64, 702    580
703    580
790    245
791    535
6      534
      ...
730    382
731    499
734    411
771    500
793    680
Name: Total, Length: 101, dtype: int64, 159    300
160    420
161    600
365    490
366    590
406    300
407    420
408    600
409    700
417    600
418    700
419    600
420    700
425    680
426    780
491    300
492    410
493    600
494    700
671    320
672    410
673    540
682    485
706    680
707    680
710    660
711    700
712    700
774    300
775    452
776    600
794    600
7      634
196    610
249    540
275    630
360    340
361    520
540    680
541    680
544    680
545    680
694    300
695    420
696    600
761    494
766    362
767    521
790    245
791    535
Name: Total, dtype: int64, 9      314
10     405
11     530
12     630
59     320
      ...
533    520
758    306
759    500
760    320
799    600
Name: Total, Length: 126, dtype: int64, 13     195
14     205
15     395
16     195
17     205
      ...
733    213
734    411
379    355
380    495
501    330
Name: Total, Length: 72, dtype: int64, 20     251
21     349
22     479
23     579
24     253
      ...
744    472
735    369
736    507
764    289
765    481
Name: Total, Length: 102, dtype: int64, 30     320
31     485
88     325
89     465
108    330
109    480
134    490
146    525
157    580
186    205
193    280
194    365
195    510
196    610
258    360
262    580
337    295
338    475
339    575
340    405
341    405
448    263
449    363
450    523
464    405
513    535
517    540
531    440
532    520
533    520
534    520
535    520
536    520
581    295
582    497
648    428
663    275
664    405
665    515
704    580
705    580
764    289
765    481
772    431
184    330
185    460
656    319
657    472
679    471
707    680
Name: Total, dtype: int64, 32     300
33     450
55     265
56     405
112    320
      ...
524    530
596    384
597    509
728    423
794    600
Name: Total, Length: 67, dtype: int64, 40     323
41     483
187    218
189    245
190    405
225    300
226    450
519    545
737    303
738    371
739    552
752    341
753    462
754    341
755    480
770    525
792    680
44     270
45     435
131    460
188    210
198    250
199    420
303    198
304    278
305    518
306    618
322    190
328    380
329    480
366    590
487    310
591    545
606    280
607    480
772    431
773    500
777    470
795    600
796    700
Name: Total, dtype: int64, 61     305
62     455
72     305
73     405
74     505
114    455
115    455
255    210
256    455
320    237
321    474
334    280
335    410
336    510
496    285
497    525
498    625
592    305
593    405
594    505
598    465
599    465
680    350
681    510
742    348
743    495
771    500
67     510
163    780
231    500
232    600
277    405
278    530
279    630
310    460
436    405
437    534
476    580
503    300
504    490
526    518
527    618
558    418
559    528
620    348
621    488
699    580
700    580
701    580
713    580
714    580
716    600
720    530
Name: Total, dtype: int64, 68     310
69     400
70     500
71     590
104    328
      ...
616    540
715    600
723    534
756    288
757    482
Name: Total, Length: 90, dtype: int64, 80     300
81     390
82     495
103    385
149    355
150    495
151    355
152    495
153    515
154    615
200    410
265    300
266    410
267    600
268    700
323    375
369    440
370    440
377    355
378    495
379    355
380    495
414    580
453    350
454    495
455    350
456    495
486    290
528    525
583    280
584    390
585    515
627    401
628    567
700    580
758    306
759    500
766    362
767    521
768    362
769    521
773    500
795    600
796    700
119    345
120    485
230    505
237    410
240    380
330    330
331    430
332    530
404    485
515    535
618    325
619    475
625    355
626    495
Name: Total, dtype: int64, 223    510
224    610
245    465
328    380
329    480
330    330
331    430
332    530
333    630
410    300
411    420
412    600
413    700
416    580
427    600
484    300
485    500
540    680
660    300
661    440
662    520
699    580
748    325
749    448
750    520
751    520
777    470
88     325
89     465
220    465
228    500
229    600
440    530
455    350
456    495
460    424
497    525
498    625
513    535
528    525
542    600
589    508
650    495
658    305
659    489
685    340
686    490
693    484
717    600
Name: Total, dtype: int64, 133    455
156    580
238    250
239    450
243    330
257    305
395    300
396    480
397    580
398    290
399    410
400    530
415    580
522    525
524    530
530    480
643    305
644    395
645    535
674    305
675    485
676    485
788    304
789    514
94     475
98     525
142    535
233    430
509    334
510    494
511    594
512    510
534    520
710    660
711    700
712    700
768    362
769    521
Name: Total, dtype: int64, 99     310
100    405
101    500
102    600
215    435
385    295
386    455
387    555
388    295
389    455
472    348
473    498
477    495
490    485
529    525
544    680
545    680
623    303
624    483
668    275
669    370
670    520
778    309
779    474
780    335
781    335
782    335
783    335
784    494
785    494
786    494
787    494
316    236
326    380
327    480
530    480
531    440
653    335
654    480
683    303
684    483
748    325
749    448
750    520
751    520
797    600
Name: Total, dtype: int64, 212    525
213    405
233    430
246    330
247    500
248    600
284    220
285    420
326    380
327    480
392    465
393    565
478    505
512    510
549    600
568    281
569    446
620    348
621    488
631    330
632    510
685    340
686    490
690    370
691    510
694    300
695    420
696    600
756    288
757    482
793    680
141    640
267    600
268    700
297    340
298    480
347    305
348    460
349    560
363    475
374    468
482    329
483    479
490    485
502    500
611    292
612    351
613    519
726    530
743    495
798    680
Name: Total, dtype: int64]

In [13]:
type(pokemon_totals)

list

In [14]:
pokemon[pokemon['Type 1'] == "Grass"]["Total"]

0      318
1      405
2      525
3      625
48     320
      ...
718    313
719    405
720    530
740    350
741    531
Name: Total, Length: 70, dtype: int64

In [15]:
pokemon[pokemon['Type 2'] == "Poison"]["Total"]

0      318
1      405
2      525
3      625
16     195
17     205
18     395
19     495
48     320
49     395
50     490
53     305
54     450
75     300
76     390
77     490
78     335
79     515
99     310
100    405
101    500
102    600
181    250
182    390
227    430
292    385
344    400
451    280
452    515
603    260
604    360
605    485
651    294
652    464
Name: Total, dtype: int64

#### Now we run ANOVA test on `pokemon_totals`.

*Hints:*

* To conduct ANOVA, you can use `scipy.stats.f_oneway()`. Here's the [reference](http://b.link/scipy44).

* What if `f_oneway` throws an error because it does not accept `pokemon_totals` as a list? The trick is to add a `*` in front of `pokemon_totals`, e.g. `stats.f_oneway(*pokemon_groups)`. This trick breaks the list and supplies each list item as a parameter for `f_oneway`.

In [16]:
# Your code here
from scipy.stats import f_oneway

# H0: The mean of total for all unique type of pokemon is same.
# H1: The mean of total for all unique type of pokemon is not same.

st.f_oneway(*pokemon_totals)

F_onewayResult(statistic=6.617538296005533, pvalue=2.6457458815984803e-15)

#### Interpret the ANOVA test result. Is the difference significant?

In [17]:
# Your comment here

# As p-val is significantly less than 0.05 we reject the null hypothesis.