#  T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_rel`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import scipy.stats as st

### One tailed t-test 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

#### Import dataset

In [12]:
# Your code here:
data = pd.read_csv("ttest_machine.csv")
data

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [13]:
# H0 = there is no difference in mean(Means same mean)
# H1 = the mean of old machine and new machine are not same

print(data.New_machine.mean())
print(data.Old_machine.mean())

42.14
43.230000000000004

In [16]:
st.ttest_ind(data.New_machine, data.Old_machine, equal_var=False)

Ttest_indResult(statistic=-3.3972307061176026, pvalue=0.00324224946631798)

In [17]:
# Conclusion:
# We reject the null hypothesis as p-val is less than 0.05. 
# And the statistics is negative which means that mean(Newmachine)< mean(Oldmachine). 
# In other words mean(Newmachine) - mean(Oldmachine) < 0

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use pokemon.csv

In [24]:
# Your code here:
pokemon = pd.read_csv("pokemon.txt", delimiter = ',')
pokemon = pokemon.drop(["#"], axis = 1)
pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [66]:
def correct_name(x):
    
    if 'Mega' in x['Name']:
        return 'Mega' + x['Name'].partition('Mega')[2]
    else:
        return x['Name']
        
    
pokemon["Name"] = pokemon.apply(correct_name, axis = 1)
pokemon.to_csv("Pokemon_clean.csv", index = False)
pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [26]:
pokemon.isna().sum()

Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [35]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}
    
    # Your code here
    
    for feature in features:
        
        result = st.ttest_ind(s1[feature], s2[feature], equal_var=False)
        
        # Using only p-value in dictionary. 
        results[feature] = result[1]

    return results

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [37]:
# Your code here

# H0: the mean of all features for both sample are same.
# H1: the mean of all features for both sample is not same.

s1 = pokemon[pokemon["Legendary"] == True].reset_index()
s2 = pokemon[pokemon["Legendary"] == False].reset_index()

# display(s1)
# display(s2)

print(t_test_features(s1, s2))

{'HP': 1.0026911708035284e-13, 'Attack': 2.520372449236646e-16, 'Defense': 4.8269984949193316e-11, 'Sp. Atk': 1.5514614112239812e-21, 'Sp. Def': 2.2949327864052826e-15, 'Speed': 1.049016311882451e-18, 'Total': 9.357954335957446e-47}

In [38]:
st.ttest_ind(s1["HP"], s2["HP"], equal_var=False)

Ttest_indResult(statistic=8.981370483625046, pvalue=1.0026911708035284e-13)

In [44]:
display(s1.HP.mean())
display(s2.HP.mean())

display(s1.Attack.mean())
display(s2.Attack.mean())

display(s1.Defense.mean())
display(s2.Defense.mean())

92.73846153846154

67.18231292517007

116.67692307692307

75.66938775510204

99.66153846153846

71.55918367346939

In [43]:
# Conclusion:
# p-vals for each feature is close to zero. We reject Null-hypothesis.
# In cell 40 we can see that mean for HP feature for both samples are different.

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [ ]:
# Your comment here

# Yes. Legendary and Non-Legendary pokemons have significant difference in mean for all features.

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [45]:
# Your code here

g1_sample = pokemon[pokemon["Generation"] == 1].reset_index()
g2_sample = pokemon[pokemon["Generation"] == 2].reset_index()

display(g1_sample)
display(g2_sample)

,index,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,161,Dragonite,Dragon,Flying,600,91,134,95,100,100,80,1,False
162,162,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,163,Mega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
164,164,Mega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
165,165,Mew,Psychic,NaN,600,100,100,100,100,100,100,1,False

,index,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,166,Chikorita,Grass,NaN,318,45,49,65,49,65,45,2,False
1,167,Bayleef,Grass,NaN,405,60,62,80,63,80,60,2,False
2,168,Meganium,Grass,NaN,525,80,82,100,83,100,80,2,False
3,169,Cyndaquil,Fire,NaN,309,39,52,43,60,50,65,2,False
4,170,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,267,Tyranitar,Rock,Dark,600,100,134,110,95,100,61,2,False
102,268,Mega Tyranitar,Rock,Dark,700,100,164,150,95,120,71,2,False
103,269,Lugia,Psychic,Flying,680,106,90,130,90,154,110,2,True
104,270,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
105,271,Celebi,Psychic,Grass,600,100,100,100,100,100,100,2,False

In [46]:
def t_test_features_generation(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    
    results = {}
    
    # Your code here
    
    for feature in features:
        
        result = st.ttest_ind(s1[feature], s2[feature], equal_var=False)
        
        # Using only p-value in dictionary. 
        results[feature] = result[1]

    return results

In [48]:
# H0: the mean of all features for Generation1 and Generation2 sample are same.
# H1: the mean of all features for Generation1 and Generation2 sample is not same.

print(t_test_features_generation(g1_sample, g2_sample))

{'HP': 0.14551697834219623, 'Attack': 0.24721958967217725, 'Defense': 0.5677711011725426, 'Sp. Atk': 0.12332165977104388, 'Sp. Def': 0.18829872292645752, 'Speed': 0.00239265937312135, 'Total': 0.5631377907941676}

In [50]:
display(g1_sample.HP.mean())
display(g2_sample.HP.mean())

display(g1_sample.Attack.mean())
display(g2_sample.Attack.mean())

display(g1_sample.Defense.mean())
display(g2_sample.Defense.mean())

65.81927710843374

71.20754716981132

76.63855421686748

72.02830188679245

70.86144578313252

73.38679245283019

In [51]:
st.ttest_ind(g1_sample.HP, g2_sample.HP, equal_var=False)

Ttest_indResult(statistic=-1.4609700002846653, pvalue=0.14551697834219623)

In [ ]:
# Conclusion: As the p-value is greater than 0.05 we accept the null hypothesis, 
# because the values aren't exact same but they are very close to each other.

#### What conclusions can you make?

In [ ]:
# Your comment here

# The stats for Generation 1 and 2 pokemon have less difference in all the features 
# compared to Legendary and nonlegendary pokemon.

#### Compare pokemons who have single type vs those having two types.

In [56]:
# Your code here

two_type_sample = pokemon[pokemon["Type 2"].isna() == False]
one_type_sample = pokemon[pokemon["Type 2"].isna() == True]

display(two_type_sample.head())
display(one_type_sample.head())

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
9,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False

In [57]:
def t_test_features_type(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    
    results = {}
    
    # Your code here
    
    for feature in features:
        
        result = st.ttest_ind(s1[feature], s2[feature], equal_var=False)
        
        # Using only p-value in dictionary. 
        results[feature] = result[1]

    return results

In [58]:
# H0: the mean of all features for one_type and two_type sample are same.
# H1: the mean of all features for one_type and two_type sample is not same.

print(t_test_features_type(one_type_sample, two_type_sample))

{'HP': 0.11314389855379414, 'Attack': 0.00014932578145948305, 'Defense': 2.7978540411514693e-08, 'Sp. Atk': 0.00013876216585667907, 'Sp. Def': 0.00010730610934512779, 'Speed': 0.02421703281819093, 'Total': 1.1157056505229961e-07}

In [ ]:
# Conclusion: We reject the null hypothesis because the p-val is very less than 0.05 except for HP feature whose p-val is greater than 0.05. 
#

#### What conclusions can you make?

In [ ]:
# Your comment here

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [59]:
# Your code here

# H0: the mean of Attack and Defense features  are same.
# H1: the mean of Attack and Defense features is not same.

st.ttest_rel(pokemon['Attack'], pokemon['Defense'])

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

In [62]:
display(pokemon['Attack'].mean())
display(pokemon['Defense'].mean())

79.00125

73.8425

In [64]:
# Conclusion:
# We reject the null hypothesis since p-val is less than 0.05.
# There is significant difference in mean

In [60]:
st.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

TtestResult(statistic=0.853986188453353, pvalue=0.3933685997548122, df=799)

In [63]:
display(pokemon['Sp. Atk'].mean())
display(pokemon['Sp. Def'].mean())

72.82

71.9025

#### What conclusions can you make?

In [65]:
# Your comment here

# Conclusion:
# We accept the null hypothesis since p-val is greater than 0.05.
# There is insignificant difference in mean